/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.container{
    background-color: #FFFFFF ;
    width: 870px;
    padding: 30px;
    margin-top: 16px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF ;
    font-size: 24px ;
    margin-top: 3px;
    
}

.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 16px;
}
/* -------------------
        Top blogs styles
--------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 118px;
}
.blog-info{
    margin-left: 16px;
    margin-right: 57px;
}
.blog-title{
    font-size: 20px;
    color: #000000;
    
}
.blog-author {
    color: #9f9f9f;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
    font-size: 16px;
    font-size: 16px;
}

/* Courses */
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 23px;
    
}

.course{
    background-color: #FFFFFF;
    padding: 18px;
    border-radius: 8px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    margin-bottom: 10px;
}


.courses .course-banner img{
    width: 224px;
    height: 104px;
    

}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration {
    color:#FF4A60;;
    border-radius: 10px;
    padding: 0px 5px;
    background-color: rgb(240, 181, 181);
}
nav {
    background-color: seagreen;
    color: white;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}
.icon img{
    width: 40.42px;
    height: 51px;
}
.icon{
    display: flex;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
}

/* Media Queries */

/* Mobile Devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr)
        
    }
    .player, .blog{
        flex-direction: column;
    }
    .course{
        margin: 10px;
      }
    .container{
        padding: 0px;
    }
    
}
/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr)
    }
}
    

